.outerdiv{
    margin: 0% 18%;
    justify-content: space-evenly;
}
.links{
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    color: white;
}
button{
    background-color:rgba(54, 25, 153,0.7);
    border: 0px;
    margin: 10px;
    padding: 10px;
}
.subjects{
    width: 40%;
    height: 50vh;
    margin: 2% 5%;
    float: left;
    background-color: hotpink;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    overflow:auto;
}
@media screen and (max-width:908px) and (min-width:730px){
    .outerdiv{
        margin: 0% 8%;
    }
    .subjects{
        width: 40%;
    }
}
@media screen and (max-width:730px){
    .subjects{
        width: 80%;
    }
    .outerdiv{
        margin:0% 8%;
    }
}
